body {
    font: italic 1.2rem "Montserrat", serif;
    
  }
/* BACKGROUND STYLE */

#background {
    background-image: url(./assets/img/background-contact-page.jpg);
    background-size: 100%; /* Regola la dimensione dell'immagine di sfondo in modo che copra l'intero elemento */
    background-position: center center; /* Imposta la posizione dell'immagine al centro dell'elemento */
    background-attachment: fixed; /* Imposta l'immagine di sfondo come fissa (se desiderato) */ 
}


  /*NAVBAR*/

#navbar-div {
    margin-top: 2%;
    position: sticky;
}

/* LOGO */

#logo-name {
    display: inline-block;
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
    margin-left: 5%;
    text-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
    /* Aggiunge una transizione lenta su tutte le proprietà */
}

#logo-name span:first-child {
    display: inline-block;
    transform: translateX(0);
    /* Inizialmente, entrambi i span sono sovrapposti */
    transition: transform 0.5s;
    /* Aggiunge una transizione lenta solo alla trasformazione X */
}

#logo-name:hover span:first-child {
    transform: translateX(-50%);
    /* Sposta il primo span a sinistra per separarlo dal secondo span */
}

#logo-name span:last-child {
    display: inline-block;
    transform: translateX(0);
    /* Inizialmente, entrambi i span sono sovrapposti */
    transition: transform 0.5s;
    /* Aggiunge una transizione lenta solo alla trasformazione X */
}

#logo-name:hover span:last-child {
    transform: translateX(50%);
    /* Sposta il secondo span a destra per separarlo dal primo span */
}


/* STILE FONT NAVBAR */

a {
    font-family: "Nome del tuo font", sans-serif;
    color: #fff;
    /* Cambia il colore azzurro in uno a tua scelta */
    text-decoration: none;
    /* Rimuovi il sottolineato */
    text-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

/* PORTFOLIO */

#navbar-right {
    float: right;
    margin-right: 5%;
}
#navbar-right a {
    margin-right: 50px;
    /* Aggiungi spazio di 20 pixel tra i link */
}


/* CONTANCT PAGE STYLE  */

#contancts {
    float: left;
    text-align: center;
    width: 30%;
    padding-left: 20%;
    margin-top: 3%;
   
}

#contancts h2 {
    font-size: 200%;
    color: #fff;
    text-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

form {
    padding: 10%;
    background-color: #f5f5f5a2;
    border-radius: 40px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

label {
    display: block;
    margin-bottom: 1%;
    font-weight: bold;
    margin-top: 2%;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* MY CONTACT STYLE */

#my-contacts {
    float: left;
    text-align: center;
    width: 26%;
    margin-top: 15%;
    color: #fff;
    text-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: center;
    margin-top: 35%;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 98%;
    left: 0%;
   
    margin-right: -3%;
}


.social-icons a {
    margin: 0 5%;
    margin-bottom: 2%;
}

.social-icons img {
    width: 3%;
    height: 10%;
}

#MK {
    margin-bottom: -1%;


}


