/* Reset dei margini e dei padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Stile dell'intestazione */
header {
    background-color: #ffffff;
    color: #fff;
    padding: 200px 0;
    
    
}
header {
    background-image: url('assents/img/7225c2b9d85e80a4bb251a64d6a68561.jpg');
    background-size: 200px; /* Adatta l'immagine per coprire l'intero elemento */
    background-position: center; /* Centra l'immagine nel suo contenitore */
    background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine */
    background-color: #f0f0f0; /* Colore di sfondo nel caso l'immagine non copra completamente l'elemento */
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

header h1 {
    font-size: 25px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/* Stile delle sezioni */
.section {
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}


/* Stile del portfolio */
.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

/* Stile delle skills */
.skills ul {
    list-style: none;
}

.skills ul li {
    margin-bottom: 10px;
}

/* Stile del form di contatto */
form {
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Stile del piè di pagina */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Stile dei link */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.textLogo { 
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s;
    display: inline-block;
}
  

/* Stile della foto homepage */

#mia-foto {

    width: 200px;
    height: auto;



}

/* Questo e un commento */
    